footer {
  padding: 60px 50px 35px;
  background-image: url("../assets/footer-bg.jpg");
}

.footer_content {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
}

.footer_content a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "open sans", sans-serif;
  font-size: 12px;
  color: #695032;
}

.footer_left,
.footer_right {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  gap: 15px;
}

.footer_center img {
  max-width: 100px;
}

.footer_legaltext {
  text-transform: uppercase;
  font-family: "open sans", sans-serif;
  font-size: 11px;
  color: #695032;
  letter-spacing: 1px;
  text-align: center;
}

.footer_legaltext a {
  text-decoration: none;
  color: #695032;
}

.footer_legaltext a:visited {
  color: #695032;
}

.mobile,
.mobile1,
.mobile2,
.mobile3 {
  display: none !important;
}

@media (max-width: 560px) {
  footer {
    padding: 20px 15px 35px;
  }

  .footer_content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }

  .footer_center img {
    width: 67px;
  }

  .footer_left a {
    font-size: 12px;
  }

  .footer_legaltext {
    font-size: 10px;
    line-height: 24px;
  }

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
}

@media (max-width: 1095px) {
  .mobile1 {
    display: block !important;
  }
}
@media (max-width: 790px) {
  .mobile2 {
    display: block !important;
  }
}
@media (max-width: 482px) {
  .mobile3 {
    display: block !important;
  }
}
