.inspirationscard_wrap {
  display: flex;
  flex-direction: column;
  width: 327px;
}

.inspirationscard_wrap img {
  align-self: center;
  margin-bottom: -42.5px;
  z-index: 2;
}

.background_card {
  width: 100%;
  min-height: 460px;
  height: 100%;
  background-color: #fdf7f280;
  border-radius: 12px;
}

.background_card h4 {
  font-family: Museo, serif;
  font-size: 26px;
  font-weight: 100;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 23px;
}

.background_card p {
  width: 267px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
  margin: 0 auto;
  padding-bottom: 30px;
}
