.what_wrap {
  background-image: url("../assets/method-bg.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 90px 0 100px;
  box-shadow: -4px 0px 32px 0px rgba(105, 80, 50, 0.15);
}

.what_header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  padding: 0px 20px 80px;
}

.what_header h1 {
  font-family: Museo, serif;
  font-weight: 100;
  font-size: 30px;
}

.what_header img {
  width: 60px;
}

.what_content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
}

.what_content h2 {
  font-family: Museo, serif;
  font-weight: 600;
  font-size: 20px;
  padding: 44px 0 16px;
}

.what_content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1.8;
  padding-bottom: 16px;
  text-align: justify;
}

.what_content p strong {
  font-weight: 600;
}

.what_content p a {
  color: rgb(0, 115, 176);
  text-decoration: none;
}

.what_content p a:visited {
  color: rgb(0, 115, 176);
}
